* {
  font-size: 1.1rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

  & .box {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & .header {
      text-align: center;

      & h2 {
        font-size: 35px;
      }
    } /* header */

    & .content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 50rem;
    }
  } /* box */
} /* container */

.abs-btn {
  position: absolute;
  top: 30px;
  left: 30px;
  padding: 15px;

  & a {
    text-decoration: none;
  }
}

table {
  width: 100%;
}

.row-header {
  font-weight: bold;
}

.row {
  padding-left: 10px;
}
