.container {
  display: flex;
  justify-content: center;
  align-tracks: center;

  & .box {
    & .header {
      text-align: center;
    } /* header */

    & .content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 50rem;
    }
  } /* box */
} /* container */

table {
  width: 100%;
}
